{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-danger">Удаление статьи</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card mb-4 box-shadow border-danger">
                <div class="card-body text-center">
                    <h4 class="card-title mb-4">Вы уверены, что хотите удалить статью "{{ object.title }}"?</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-grid gap-2 d-md-block">
                            <button type="submit" class="btn btn-lg btn-danger">Да, удалить</button>
                            <a href="{% url 'post_list' %}" class="btn btn-lg btn-outline-secondary">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}