{% extends 'base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ product.name }}</h1>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid mb-3" alt="{{ product.name }}">
                    {% endif %}
                    <p class="lead">{{ product.description }}</p>
                    <p class="h2">Цена: ${{ product.price }}</p>
                    {% if user == product.owner or user.has_perm('products.delete_product') %}
                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                    {% endif %}

                    {% if user == product.owner %}
                    <a href="{% url 'product_edit' product.pk %}" class="btn btn-secondary">Редактировать</a>
                    {% endif %}

                    {% if user.has_perm('products.can_unpublish_product') %}
                    <a href="{% url 'unpublish_product' product.pk %}" class="btn btn-warning">Отменить публикацию</a>
                    {% endif %}
                    <a href="{% url 'home' %}" class="btn btn-lg btn-block btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}